.par_1 {
    background-color: aqua;
}
.par_2 {
    background-color: red;
}
.par_3 {
    background-color: purple;
}
.par_4 {
    background-color: green;
}
.par_5 {
    background-color: maroon;
}
.wrapper {
    height: 50px;
}

  
  
  
  